<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>irongate Installation </title>
<script type="text/javascript" src="../administrator/js/jquery/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head><body>
<div id="header"><img src="images/install.png" title="irongate.Instalation" style="float:left" /><img src="images/cflove.png" style="float:right" /><div style="clear:both"></div></div>